{% extends 'base.html' %}
{% load app %}

{% block content %}
  <main>
    <section class="jumbotron">
      <div class="container">
        <h1 class="jumbotron-heading text-center">{{ post.title }}</h1>
        <img src="{{ post.image.url }}" class="img-fluid" alt="post image">
        <p class="lead text-muted">{{ post.body | markdown_to_html }}</p>
        {#      <p>#}
        {#        <a href="#" class="btn btn-primary my-2">Main call to action</a>#}
        {#        <a href="#" class="btn btn-secondary my-2">Secondary action</a>#}
        {#      </p>#}
      </div>
    </section>
    <p><a href="{% url 'post_edit' post.pk %}">+ Edit Blog Post</a></p>
    <p><a href="{% url 'post_delete' post.pk %}">+ Delete Blog Post</a></p>
  </main>
{% endblock content %}